{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 120,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "singleAttributePerLine": true
}
