@use '../../styles/variables'

.widget
    flex-basis: 100%
    width: 100%
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden
    padding: 14px

.chartTitle
    font-size: 13px
    font-weight: 600
    color: var(--text-color-primary)
    margin-bottom: 10px
