@use '../../styles/variables'

.card
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden
    padding: 12px 14px
    width: calc(50% - 5px)

    @media only screen and (max-width: variables.$mobileMaxWidth)
        width: 100%
        flex-basis: 100%

    .header
        display: flex
        align-items: center
        gap: 6px
        margin-bottom: 6px

    .iconWrapper
        display: flex
        align-items: center
        color: var(--text-color-secondary)

        svg
            width: 16px
            height: 16px
            fill: var(--text-color-primary)

    .title
        color: var(--text-color-primary)
        font-size: 16px
        font-weight: 200

    .value
        font-size: 18px
        font-weight: 400
        color: var(--text-color-primary)
        margin-bottom: 2px

    .range
        font-size: 12px
        color: var(--text-color-secondary)
