:root[data-theme='dark'] {
    --letter-spacing: 0.00938em;
    --width-max: 1000px;
    --width-menu: 280px;

    --link-color: #529ef4;
    --link-color-hover: #77adec;
    --link-color-active: #60a6f5;

    /* Element Heights for `size` props */
    --size-small: 24px;
    --size-medium: 28px;
    --size-large: 32px;

    /* Primary Colors */
    --color-contrast: #000;

    --color-green: #4bb34b;
    --color-green-hover: #48ac4a;
    --color-green-active: #45a64a;
    --color-green-background: #2e3e2b;

    --color-orange: #f8a01c;
    --color-orange-hover: #ee9a1d;
    --color-orange-active: #e4941f;
    --color-orange-background: #5e5443;

    --color-red: #e64646;
    --color-red-hover: #dd4446;
    --color-red-active: #d44245;
    --color-red-background: #522e2e;

    --color-main: #2688eb;
    --color-main-hover: #2483e4;
    --color-main-active: #237edd;
    --color-main-background: #3c4957;

    /* Text and Typography */
    --font-size: 14px;
    --font-size-small: 12px;
    --font-family: -apple-system, system-ui, 'Helvetica Neue', Roboto, sans-serif;
    --text-color-primary: #e1e3e6;
    --text-color-secondary: #76787a;
    --text-color-secondary-hover: #7b7d7f;

    /* Layout and Containers */
    --border-radius: 6px;
    --body-background: #1b1b1b;
    --modal-background: #0c0c0c;
    --overlay-background: rgba(0, 0, 0, 0.4);
    --container-shadow: inset 0 0 0 0.5px #363738;
    --container-background-color: #2c2d2e;
    --container-error-background-color: #ffe9e9;
    --container-error-color: var(--color-red);
    --container-success-background-color: #e8f9e8;
    --container-success-color: var(--color-green);

    /* Input Fields and Dropdowns */
    --dropdown-background-color: #232324;
    --dropdown-background-color-hover: #3a3a3b;
    --dropdown-badge-background-color: #ffffff;
    --input-background-color: #232324;
    --input-label-color: #969a9f;
    --input-border-color: #444546;
    --input-border: 0.5px solid var(--input-border-color);
    --input-border-focus-color: var(--color-main);

    /* Buttons */
    --button-font-weight: 300;
    --button-default-color: var(--text-color-primary);
    --button-default-background: transparent;
    --button-default-background-hover: rgba(255, 255, 255, 0.04);
    --button-default-background-active: rgba(255, 255, 255, 0.08);

    --button-primary-color: var(--body-background);
    --button-primary-background: var(--text-color-primary);
    --button-primary-background-hover: #ebedf0;
    --button-primary-background-active: #d7d8db;

    --button-secondary-background: rgba(255, 255, 255, 0.1);
    --button-secondary-background-hover: rgba(255, 255, 255, 0.12);
    --button-secondary-background-active: rgba(255, 255, 255, 0.14);
    --button-secondary-color: var(--text-color-primary);
    --button-secondary-color-hover: var(--text-color-primary);
    --button-secondary-color-active: var(--text-color-primary);

    /* Popout */
    --popout-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08);

    /* Table */
    --table-header-background: #232324;
    --table-header-background-hover: #2f2f31;
    --table-border-color: var(--input-border-color);
    --table-row-box-shadow: inset 0 -1px var(--input-border-color);

    /* Skeleton */
    --skeleton-background-animation: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.05), transparent);
}
