@use 'variables'
@use 'animations'

*, ::before, ::after
    box-sizing: border-box

ul
    list-style: none
    margin: 0
    padding: 0

html
    -moz-osx-font-smoothing: grayscale
    -webkit-text-size-adjust: 100%

body
    background-color: var(--body-background)
    margin: 0
    line-height: 1.5
    font-size: var(--font-size)
    letter-spacing: var(--letter-spacing)
    font-family: var(--font-family), sans-serif
    color: var(--text-color-primary)
    transition: background-color 0.5s ease

.widgets-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 5px
    gap: 10px

.toolbar
    margin: 5px 0 10px
    display: flex
    gap: 10px

    .loading
        display: flex
        align-items: center

        svg
            width: 20px
            height: 20px
            margin-right: 10px

        @media only screen and (max-width: variables.$mobileMaxWidth)
            span
                display: none

.not-found
    margin: 30px auto 0
    text-align: center

    h1
        font-size: 3em

    .not-found-menu
        margin-top: 40px

        menu
            display: flex
            justify-content: center
            gap: 8px
            flex-wrap: wrap

        li
            background: var(--container-background-color)
            border-radius: var(--border-radius)
            flex-basis: calc(33.333% - 8px)
            width: calc(33.333% - 8px)

        a
            display: flex
            flex-direction: column
            padding: 20px

            svg
                display: block
                width: 46px
                height: 46px
                margin-bottom: 10px
