:root {
    --font-size: 14px;
    --font-family: -apple-system, system-ui, 'Helvetica Neue', Roboto,
        sans-serif;
    --letter-spacing: 0.00938em;

    --width-max: 1000px;
    --width-menu: 280px;

    --body-background: #ebedf0;

    --modal-background: #ffffff;

    --menu-background-hover: rgba(255, 255, 255, 0.7);

    --border-radius: 6px;

    --text-color-primary: rgba(0, 0, 0, 0.9);
    --text-color-secondary: #818c99;
    --icon-color-primary: #99a2ad;
    --icon-color-primary-hover: #939CA9;
    --icon-color-secondary: #818c99;
    --icon-color-secondary-hover: #939CA9;

    --container-background-color-error: #FFE9E9;
    --container-color-error: #e64646;
    --container-background-color-success: #E8F9E8;
    --container-color-success: #4bb34b;
    --container-background: #fff;
    --container-border-separator: 0.5px solid #d7d8d9;
    --container-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.12);

    --input-background-color: #f2f3f5;
    --input-background-content: #ffffff;
    --input-background-color-error: var(--container-background-color-error);
    --input-label-color: #6d7885;
    --input-border-color: #cbcccd;
    --input-border: 0.5px solid var(--input-border-color);
    --input-border-focus-color: #1976d2;

    --dropdown-background-color: #ffffff;
    --dropdown-background-color-hover: #f2f3f5;

    --link-color: #2688eb;
    --link-color-hover: #2483e4;
    --link-color-active: #237edd;

    --overlay-background: rgba(242, 243, 252, 0.7);

    --button-default-background: transparent;
    --button-default-color: #3770b1;
    --button-default-background-hover: #f7f8fa;
    --button-default-background-active: #f1f2f5;
    --button-primary-background: #2688eb;
    --button-primary-color: #ffffff;
    --button-primary-background-hover: #2483e4;
    --button-primary-background-active: #237edd;
    --button-negative-background: #e64646;
    --button-negative-color: #ffffff;
    --button-negative-background-hover: #DD4446;
    --button-negative-background-active: #D44245;
    --button-secondary-background: rgba(235,242,250,.99);
    --button-secondary-color: #3770b1;
    --button-secondary-background-hover: rgba(223,234,246,.99);
    --button-secondary-color-hover: #356cac;
    --button-secondary-background-active: rgba(213,226,241,.99);
    --button-secondary-color-active: #3368a8;

    --color-green: #4bb34b;
    --color-orange: #ea5d2e;
    --color-red: #e64646;

    .leaflet-container {
        background-color: var(--input-background-color);
    }
}
