@import ../../styles/variables

/* styles.css */
.widgetForecastTable
    flex-basis: calc(50% - 5px)
    width: calc(50% - 5px)
    background: var(--modal-background)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    height: 250px

    .title
        border-top-right-radius: var(--border-radius)
        border-top-left-radius: var(--border-radius)
        background-color: var(--modal-background)
        color: var(--text-color-secondary)
        text-align: center
        padding: 6px 12px

    @media only screen and (max-width: $mobileMaxWidth)
        flex-basis: 100%
        width: 100%

    .table
        border-bottom-right-radius: var(--border-radius)
        border-bottom-left-radius: var(--border-radius)

        & *
            font-size: var(--font-size-small) !important

    .cellDate
        white-space: nowrap

        &:first-letter
            text-transform: uppercase

    .cellIcon, .windDeg
        display: flex
        justify-content: center
        align-items: center
        text-align: center !important

        svg
            height: 30px
            display: flex

    .cellConditions
        white-space: nowrap

    .cellWind
        white-space: nowrap

    .cellPressure
        svg
            vertical-align: middle
            margin-left: 5px
            display: inline-block
            width: 14px
            height: 14px

    .cellDate
        width: 140px

    .cellTemperature
        & > div
            height: 100%

    .cellTemperature, .cellClouds
        width: 60px
        text-align: center !important
        white-space: nowrap
