@import ../../styles/variables

/* styles.css */
.widgetForecastTable
    flex-basis: calc(50% - 5px)
    width: calc(50% - 5px)

    .content
        background: var(--modal-background)
        color: var(--text-color-primary)
        border-radius: var(--border-radius)
        box-shadow: var(--container-shadow)
        overflow: hidden
        width: 100%
