@import ../../styles/variables

.badge
    color: #FFF
    background: transparent
    display: flex
    align-items: center
    font-size: $fontSizeCaption
    margin-right: 8px

    svg
        fill: #FFF
        height: 16px
        margin-right: 5px
