$font-stack: sans-serif
$main-color: #FFF

*:not(.icon)
    outline: none
    font-family: $font-stack !important

body
    color: $main-color
    font-size: 14px
    line-height: 1.5
    background-color: #414141
    margin: 0

#wrapper
    height: 100%