@import "colors"

$font-stack: sans-serif

*:not(.icon)
    outline: none
    font-family: $font-stack !important

#root
    height: 100%

body
    color: $main-color
    font-size: 14px
    line-height: 1.5
    background-color: #191b22
    margin: 0

.ui.container
    max-width: 1200px !important

.ui.toggle.checkbox label, .ui.toggle.checkbox input:checked ~ label, .ui.toggle.checkbox input:focus:checked ~ label
    color: $main-color !important

.update-switch
    margin-top: 2px
    float: right

.active
    font-weight: 900

.toolBar
    margin: 0 0 1em

.message
    font-size: 12px !important
    margin-bottom: 1em !important

.summary
    height: 100%
    position: relative

    .main-content
        position: relative
        padding: 4vh 0

    .minmax-value
        padding-top: 13px
        font-size: .9em

        > div:first-child
            border-bottom: 1px solid rgba(255, 255, 255, 0.25)

        .value
            margin: 0 5px
            font-weight: 600

    .current-icon
        font-size: 5em
        float: left
        margin-top: -5px

    .current-grid
        max-width: 500px

    .current
        margin-left: 20px

        .value
            font-size: 3em
            font-weight: 900

        .sign
            font-size: 2em
            font-weight: 100
            vertical-align: super

    .update
        margin: 2vh 0 0

    .timeago
        font-size: .8em
        color: $second-color

.footer
    margin: 5vh 0
    color: $second-color
    font-size: .8em

.copyright-link
    color: #a4ffa4

    img
        height: 11px
        margin-left: 5px
        vertical-align: middle
        margin-top: -3px

.error404
    text-align: center
    padding-top: 14%

.header-toolbar
    background: #373737
    padding: .8em 1em
    margin: 2em 0
    display: flex !important
    flex-direction: row
    align-items: center

    .hamburger
        cursor: pointer
        font-size: 33px !important

    .hamburger:hover
        color: $second-color

    .buttons
        margin-left: 1em
        font-size: .8em
        margin-left: auto

        .icon
            color: $main-color

    .last-update
        margin-left: .5vh
        font-size: .8em

    .online, .offline
        background: $green
        width: 5px
        height: 26px
        margin-left: 1vh

    .online.pulsate
        -webkit-animation: pulsate 2s infinite
        -moz-animation: pulsate 2s infinite
        animation: pulsate 2s infinite

    .offline
        background: $red

.chart
    margin-top: 1.5vh

.chart-container > div
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

// Forecast carousel nav button
.rec-arrow-right, .rec-arrow-left
    background-color: rgb(55, 55, 55) !important
    color: $main-color !important
    border-radius: 10% !important
    font-size: 1.3em !important
    padding: 0 10px !important
    width: auto !important
    min-width: initial !important

.rec-arrow-right:disabled, .rec-arrow-left:disabled
    opacity: .4

.rec-arrow-right:hover:enabled, .rec-arrow-left:focus:enabled
    background-color: rgb(98, 98, 98) !important

.forecast-tile
    border-radius: 5px
    padding: 1em
    text-align: center
    width: 340px
    background: #373737

    .date
        font-size: .8em
        color: $second-color

    .desc
        font-size: .9em
        line-height: 1em
        height: 28px
        color: $second-color

    .image
        margin: -.1em auto -.4em
        font-size: 4em

    .temp, .wind
        font-size: 1.6em

        .sign
            font-size: 13px
            padding-left: 5px
            font-weight: 100

    .icon-container
        text-align: right
        padding-right: 0 !important

.informer
    position: relative
    background: #373737
    border-radius: 5px
    padding: 1em
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    height: 115px

    .row-value
        padding: .4em 0 !important

    .title
        font-size: 12px
        color: #D9D9D9
        border-top: 4px solid transparent
        padding-top: 1vh

    .value
        font-size: 1.5em
        font-weight: 600

        .sign
            font-size: 13px
            padding-left: 5px

    .icon
        position: absolute
        right: 0
        top: -6px
        font-size: 3em

    .spinner
        position: initial
        font-size: initial

    .trend
        font-size: .8em
        padding-left: 1.6em
        color: $second-color

    .trend-up, .trend-down
        position: absolute
        font-size: 2em
        left: -5px
        bottom: -3px

    .trend-up
        color: #DD523A

    .trend-down
        color: #7EC51D

    .maxmin
        font-size: .8em
        text-align: right
        color: $second-color

    .info
        font-size: .7em

    .row > div, .grid-info .row
        padding: 0 !important

    .grid
        margin: 0 0

    .grid-info
        margin-top: 0 !important

.informer.orange .title
    border-top-color: $orange

.informer.red .title
    border-top-color: $red

.informer.blue .title
    border-top-color: $blue

.informer.cobalt .title
    border-top-color: $cobalt

.informer.green .title
    border-top-color: $green

.informer.purple .title
    border-top-color: $purple

.summary
    height: auto

    .background-overlay
        height: inherit
        position: absolute
        left: 0
        top: 0
        z-index: 0
        overflow: hidden
        width: 100%
        height: 100%
        border-radius: 5px

        .background-image
            display: block
            background-repeat: no-repeat
            background-size: cover
            background-position: center
            width: 100%
            height: inherit
            filter: blur(2px)
            opacity: .7

    .content
        position: relative

        h1
            margin-bottom: 0vh

        h4
            margin-top: .4vh
            margin-bottom: 3vh
            font-weight: 400

    .main-info, .second-info
        margin-top: 1em
        white-space: nowrap

        > div
            display: inline-block
            margin-right: 1em
            vertical-align: top

    .second-info
        margin-top: -1em

    .grid
        .column
            padding: 0 !important

    .value
        font-weight: 100
        font-size: 2.5em
        margin-right: .3em !important

    .summary-icon
        font-size: 5em
        margin-top: -.2em
        margin-right: 0em !important

        .icon-float
            float: left

        .asterisk
            position: inherit
            font-size: 1em
            margin-bottom: 30px

    .sign, .info
        font-size: 1em
        font-weight: 100

    .info
        margin-left: 1em

    .second-info
        .icon
            float: left
            position: unset
            font-size: 1.9em
            margin-right: .3em
            margin-top: -.1em
            color: $second-color


.weather-table
    margin: 4vh 0 3vh !important

    img
        height: 40px
        margin: -2vh 0px
        margin-right: -2vh

.range-calendar
    margin-left: 1em
    background-color: #767676
    color: #fff
    border-radius: .28571429rem
    padding: 0 .4em
    cursor: pointer
    font-size: .8em
    line-height: 28px

    input
        cursor: pointer
        color: #fff

    .react-daterange-picker__wrapper
        border: none

    .react-daterange-picker__button
        padding: 0 0 0 6px
        color: #FFF


@media (max-width: 390px)
    .react-daterange-picker
        margin: 1em 0 0 0

    .summary .content h1
        font-size: 1.5em

    .summary .content h4
        font-size: .9em

    .summary .value
        font-size: 2em

    .summary .summary-icon, .forecast-tile .image
        font-size: 4em

    .summary .main-info > div:last-of-type
        display: block
        margin: -2em 0 2em

    .second-info > div
        display: block !important
        margin: 0 0 .3em

    .forecast-tile .temp, .forecast-tile .wind
        font-size: 1.3em

    .forecast-tile .desc
        margin-bottom: 1em
        height: 1.9em

@-webkit-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@-moz-keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@keyframes pulsate
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

@import "tile_colors"