.statBlock
    display: flex
    flex-direction: column

.alignStart
    align-items: flex-start

.alignEnd
    align-items: flex-end

.statTitle
    font-size: 11px
    color: var(--text-color-secondary)

.statValue
    font-size: 14px
    font-weight: 600
    color: var(--text-color-primary)

    &--max
        color: var(--color-red)

    &--min
        color: var(--color-main)
