@use '../../styles/variables'

.card
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden
    padding: 12px 14px
    display: flex
    flex-direction: column
    gap: 6px

    .header
        padding: 0
        margin: 0 0 12px
        gap: 6px
        display: flex
        width: 100%
        justify-content: left
        align-items: center
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

        h3
            color: var(--text-color-secondary)
            margin: 0
            font-weight: 200
            text-decoration: none
            transition: color 0.3s

        svg
            width: 16px
            height: 16px
            fill: var(--link-color)
            flex-shrink: 0

    .zScore
        font-size: 22px
        font-weight: 700
        line-height: 1
        margin-bottom: 5px

    .dots
        display: flex
        gap: 4px
        margin-bottom: 5px

    .dotFilled, .dotEmpty
        width: 8px
        height: 8px
        border-radius: 50%

    .dotEmpty
        background: var(--input-border-color)
