@use '../../styles/variables'

.widget
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden
    padding: 16px

    &.x1
        flex-basis: calc(25% - 7.5px)
        width: calc(25% - 7.5px)

    &.x2
        flex-basis: calc(50% - 5px)
        width: calc(50% - 5px)

    &.x3
        flex-basis: calc(75% - 2.5px)
        width: calc(75% - 2.5px)

    &.x4
        flex-basis: 100%
        width: 100%

    @media only screen and (max-width: variables.$mobileMaxWidth)
        flex-basis: calc(50% - 5px) !important
        width: calc(50% - 5px) !important

        &.x4
            flex-basis: 100% !important
            width: 100% !important

    @media only screen and (max-width: 390px)
        flex-basis: 100% !important
        width: 100% !important

    .header
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        margin-bottom: 4px

        h3, a
            color: var(--text-color-primary)
            margin: 0
            font-weight: 300
            font-size: 18px
            text-decoration: none
            transition: color 0.3s

        svg
            fill: var(--text-color-primary)
            width: 26px
            height: 26px
            opacity: 0.5

        a:hover
            color: var(--text-color-primary)

            svg
                fill: var(--text-color-primary)

        .externalLinkIcon
            vertical-align: middle
            width: 12px
            height: 12px
            transition: fill 0.3s
