@use '../../styles/variables'

.widget
    background: var(--container-background-color)
    color: var(--text-color-primary)
    border-radius: var(--border-radius)
    box-shadow: var(--container-shadow)
    overflow: hidden
    padding: 12px 14px
    width: calc(50% - 5px)

    @media only screen and (max-width: variables.$mobileMaxWidth)
        width: 100%
        flex-basis: 100%

    .title
        color: var(--text-color-primary)
        font-size: 16px
        font-weight: 200
        margin-bottom: 6px

    .value
        font-size: 18px
        font-weight: 400
        color: var(--text-color-primary)

    .description
        font-size: 12px
        color: var(--text-color-secondary)
        margin-top: 2px
