@import ../../styles/variables

.progress
  height: 2px
  background-color: var(--text-color-secondary)
  min-width: 100px
  border-radius: var(--border-radius)

  .line
    border-radius: var(--border-radius)
    background-color: var(--link-color)
    height: inherit
