@import ../../styles/variables

.breadcrumbs
    display: flex

    li
        font-size: $fontSizeHeadline
        color: var(--text-color-secondary)

        &:not(:last-of-type)
            &:after
                content: '/'
                user-select: none
                margin-left: 8px
                margin-right: 8px

